<br>

# Data Representation Project Research

***

<br>

In [6]:
import json

import requests

import mysql.connector

### Insert into table

In [22]:
#import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost", user="root", password="root",
    database="moviesDB")

mycursor = mydb.cursor()
sql = "insert into student_x (name, age) values(%s, %s)"
values=("Mary", 16) 
mycursor.execute(sql, values)
mydb.commit()

#cursor.close()

In [29]:
#import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost", user="root", password="root",
    database="moviesDB")

mycursor = mydb.cursor()
sql = "insert into student_x (name, age) values(%s, %s)"
values=("Tommy", 33) 
mycursor.execute(sql, values)
mydb.commit()

#cursor.close()

### Select where id is 1

In [26]:

mycursor = mydb.cursor()
sql = "select * from student_x where id = %s"
values = (1,)

mycursor.execute(sql,values)
result = mycursor
for x in result:
    print(x)

(1, 'Mary', 16)

### Update

In [27]:
#import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost", user="root", password="root",
    database="moviesDB")

mycursor = mydb.cursor()
sql = "update student_x set name=%s, age=%s where id=%s"
values=("Mary", 22, 1) 
mycursor.execute(sql, values)
mydb.commit()

#cursor.close()

In [31]:

mycursor = mydb.cursor()
sql = "select * from student_x where id = %s"
values = (2,)

mycursor.execute(sql,values)
result = mycursor
for x in result:
    print(x)

(2, 'Tommy', 33)

### Delete

In [32]:

mycursor = mydb.cursor()
sql = "delete from student_x where id = %s"
values = (1,)

mycursor.execute(sql,values)
result = mycursor
for x in result:
    print(x)

#### Check

In [34]:

mycursor = mydb.cursor()
sql = "select * from student_x where id = %s"
values = (1,)

mycursor.execute(sql,values)
result = mycursor
for x in result:
    print(x)

### Put into a file that can be resused

In [ ]:
# Json Commands
data = {
    'name':'joe',
    'age': 21,
    "student": True
}

file = open("simple.json", "w")

json.dump(data,file, indent=4)

jsonString = json.dumps(data)
print(jsonString)

#json.dump()
#json.load()

In [ ]:
# Request Command

import requests

url = 'http://127.0.0.1:5000/cars'
data = {'reg':'123', 'make':'blah', 'model':'blah', 'price':1234}

cars = open('cars.json', 'w')

response = requests.get(url, json=cars)
print(response.status_code)
print(response.json())



# get status code
#print(response.status_code)
# Get headers from gmit
#print(response.headers)

In [ ]:
# Read and Write
f = oen("../../week02/carviewer2.html", "r")

html = f.read()

In [ ]:
# Write to excel files

from xlwt import *
w = Workbook()
ws = w.add_sheet('cars')
ws.write(0,0,"data1")

row=1
col=1
ws.write(row, col, "data")

w.save('cars.xls')

In [ ]:
url = "http://127.0.0.1:5000/cars"
data = response.json()

for car in data["cars"]:
    print(car)

In [ ]:
url = "http://127.0.0.1:5000/cars"
response = requests.get(url)
data = response.json()

#output to console
print (data)

#output cars individualy 
for car in data["cars"]:
    print (car)

#other code
#save this to a file
filename = 'cars.json'
if filename:
    # Writing JSON data
    with open(filename, 'w') as f:
        json.dump(data, f, indent=4)

# write to excel file
w = Workbook()
ws = w.add_sheet('cars')
row = 0;
ws.write(row,0,"reg")
ws.write(row,1,"make")
ws.write(row,2,"model")
ws.write(row,3,"price")
row += 1 
for car in data["cars"]:
    ws.write(row,0, car["reg"])
    ws.write(row,1,car["make"])
    ws.write(row,2,car["model"])
    ws.write(row,3,car["price"])
    row += 1

w.save('cars.xls')